* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    text-align: center;
    border: 2px solid blue;
    width: 100%;
    color: white;
    background-color: blue;
}

article div {
    display: inline;
}