* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    text-align: center;
    border: 2px solid blue;
    width: 100%;
    color: white;
    background-color: blue;
}

ul {
    list-style-type: none;
}

button {
    margin: 2px;
}

.box {
    border: 2px solid black;
    margin: 5px;
}


#todayForecast {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

#search {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

#terms {
    margin: 2px;
}

#uv {
    color: white;
}

